<h1 class="mt-5 mb-4">Login</h1>

<%if(errorMessage){ %>
  <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
  </div>
  <%}%>

<form action="/login" method="post">
 
  <div class="row mb-3">
    <label for="email" class="col-sm-2 col-form-label">Email Adress</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" name="Password">
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Login</button>
</form>